:root {
  --black: #100E0E;
  --prime: #0071E4;
  --silver: #b7b7b7;
  --light_grey: #f9f9f9;
  --taupeGray: #878787;
  --platinum: #e7e7e7;
  --darkSilver: #706e6e;
  --davyGrey: #585656;
  --raisinBlack: #282626;
  --gainsboro: #dbdbdb;
  --lightPrime: #dbdbdb;
  --iconLigt: #cccccc;
}
