.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
}
.footer__small_info {
  max-width: 273px;
}
.footer_small_year {
  color: var(--taupeGray);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}
.footer_small_year_info {
  color: var(--taupeGray);
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
}
.footer__list {
  display: flex;
  gap: 40px;
}

.footer__link {
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
  display: block;
  margin-bottom: 16px;
}

.footer__number {
  color: var(--black);
  font-size: 40px;
  font-weight: 500;
}
.footer__time {
  color: var(--darkSilver);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 11px;
  margin-right: 24px;
}
.footer__social_media_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
  //   margin-left: 150px;
}
.footer__book {
  color: var(--prime);
  font-size: 20px;
  font-weight: 500;
}
.wk {
  width: 35px;
  height: 35px;
}
.footer__location {
  color: var(--black);
  font-size: 16px;
  font-weight: 500;
}
@media screen and (max-width: 700px) {
  .footer__container {
    flex-direction: column;
    gap: 50px;
    text-align: left;
  }
  .footer__item {
    display: flex;
    flex-wrap: wrap;
  }

  .footer__item {
    flex-wrap: wrap;
  }
}
.footer__btn_list {
  display: flex;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.05);
  padding: 12px 0;
    display: none;
}
.footer__btn_item {
  color: var(--Raisin-Black);
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  &::before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(../img/footer-btn-icon.svg);
    vertical-align: middle;
    margin-right: 8px;
  }
}
@media screen and (max-width: 600px) {
}
@media screen and (max-width: 470px) {
  .footer__btn_list {
    display: flex;
  }
  .footer__small_info {
    text-align: center;
  }
  .footer__btn_item {
    flex-direction: column;
    text-align: center;
  }
}
